@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: #F8F9FA;
}

.container {
    text-align: center;
    padding: 25px;
}

h1 {
    color: #5882FA;
    padding-top: 50px;
}

.imgPerfil img {
    padding: 25px 0 25px 0;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;

}

hr {
    width: 50%;
    margin: 0 auto;
}

p {
    padding-top: 25px;
}