@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F8F9FA;
}

.container {
    text-align: center;
    padding: 5px;
}

h1 {
    color: #5882FA;
    padding-top: 50px;
}

.imgPerfil img {
    padding: 25px 0 25px 0;
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;

}

hr {
    width: 50%;
    margin: 0 auto;
}

p {
    padding-top: 25px;
}

nav {
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    background-color: #5882FA;
}

nav a{
    text-decoration: none;
    color: #F8F9FA;
    font-weight: bold;
    font-size: small;
}

aside {
    padding-bottom: 25px;
}

aside a {
    text-decoration: none;
    transition: 0.1s ease;
}

aside a:hover {
    font-weight: bold;
}

nav a:hover {
    color: rgb(65, 65, 178);
}

.a1 {
    
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 0;
    background-color: rgb(183, 183, 183);
    display: flex;
    justify-content: center;
}

footer p {
    padding: 0;
}